/admin/config.php
/catalog/view/theme/naykel/node_modules
/catalog/view/theme/naykel/template_crap
/config.php
/image/cache
/image/catalog/products
/image/catalog/products_jne
/system/storage/cache

nk_commands.md
# nk_tasks.md
nk_notes.md
