legend {
  font-size: 18px;
  padding: 7px 0px;
}

label {
  font-size: 12px;
  font-weight: normal;
}

select.form-control, textarea.form-control, input[type=text].form-control, input[type=password].form-control, input[type=datetime].form-control, input[type=datetime-local].form-control, input[type=date].form-control, input[type=month].form-control, input[type=time].form-control, input[type=week].form-control, input[type=number].form-control, input[type=email].form-control, input[type=url].form-control, input[type=search].form-control, input[type=tel].form-control, input[type=color].form-control {
  font-size: 12px;
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
  font-size: 12px;
}

.input-group .input-group-addon {
  font-size: 12px;
  height: 30px;
}

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline;
}

.nav-tabs {
  margin-bottom: 15px;
}

div.required .control-label:before {
  content: "* ";
  color: #F00;
  font-weight: bold;
}

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}

/* content */
#content {
  min-height: 600px;
}

/* footer */
footer {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
}

footer hr {
  border-top: none;
  border-bottom: 1px solid #666;
}

footer a {
  color: #ccc;
}

footer a:hover {
  color: #fff;
}

footer h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

/* alert */
.alert {
  padding: 8px 14px 8px 14px;
}

/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
}

.breadcrumb i {
  font-size: 15px;
}

.breadcrumb > li {
  text-shadow: 0 1px 0 #FFF;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}

.breadcrumb > li + li:before {
  content: "";
  padding: 0;
}

.breadcrumb > li:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

html[dir=rtl] .breadcrumb > li::after {
  top: -3px;
  left: -5px;
  width: 26px;
  height: 26px;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
  right: unset;
  border-right: unset;
  border-bottom: unset;
}

.pagination {
  margin: 0;
}

/* buttons */
.buttons {
  margin: 1em 0;
}

.btn {
  padding: 7.5px 12px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-xs {
  font-size: 9px;
}

.btn-sm {
  font-size: 10.2px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 15px;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-size: 12px;
}

.btn-group > .btn-xs {
  font-size: 9px;
}

.btn-group > .btn-sm {
  font-size: 10.2px;
}

.btn-group > .btn-lg {
  font-size: 15px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-position: 0 -15px;
}

.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23A1D1;
  border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}

/* list group */
.list-group a {
  border: 1px solid #DDDDDD;
  color: #888888;
  padding: 8px 12px;
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #DDDDDD;
  text-shadow: 0 1px 0 #FFF;
}

/* carousel */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}

.carousel-control .icon-next:before {
  content: "\f054";
  font-family: FontAwesome;
}

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumbnails > li {
  margin-left: 20px;
}

.thumbnails {
  margin-left: -20px;
}

.thumbnails > img {
  width: 100%;
}

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}

.image-additional {
  max-width: 78px;
}

.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n+1),
#content .col-lg-3:nth-child(4n+1),
#content .col-lg-4:nth-child(3n+1),
#content .col-lg-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n+1),
#content .col-md-3:nth-child(4n+1),
#content .col-md-4:nth-child(3n+1),
#content .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n+1),
#content .col-sm-3:nth-child(4n+1),
#content .col-sm-4:nth-child(3n+1),
#content .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}
/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}
/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
  min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}

html[dir=rtl] .checkbox input[type=checkbox],
html[dir=rtl] .checkbox-inline input[type=checkbox],
html[dir=rtl] .radio input[type=radio],
html[dir=rtl] .radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px\9 ;
  margin-right: -20px;
  margin-left: unset;
}

html[dir=rtl] .input-group-btn:last-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

html[dir=rtl] .input-group .form-control:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

html[dir=rtl] .container .row:first-child .col-sm-4, html[dir=rtl] .container .row:first-child .col-sm-5 {
  float: right;
}

html[dir=rtl] #cart .dropdown-menu {
  left: 0;
  right: auto;
}

@media (min-width: 768px) {
  html[dir=rtl] .navbar-nav {
    float: right;
    margin: 0;
  }

  html[dir=rtl] .navbar-nav > li {
    float: right;
  }
}
.bx {
  padding: 1.25em;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #333;
}
.bx > *:first-child {
  margin-top: 0;
}
.bx-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.bx-header,
.bx-footer {
  margin-left: -1.25em;
  margin-right: -1.25em;
  padding: 0.75rem 1.25em;
}

.bx-header {
  margin-top: -1.25em !important;
  border-bottom: 1px solid;
  border-color: inherit;
  border-radius: 0.25rem 0.25rem 0 0;
}

.bx-footer {
  margin-bottom: -1.25em !important;
  border-top: 1px solid;
  border-color: inherit;
  border-radius: 0 0 0.25rem 0.25rem;
}

:is(.bx-title + .bx-content),
:is(.bx-content + .bx-footer) {
  margin-top: 1.25em;
}

:is(.bx-header + .bx-content) {
  padding: 1.25em;
  margin-bottom: -1.25em;
  margin-left: -1.25em;
  margin-right: -1.25em;
}

.bx.white {
  background: #fff;
  color: #333;
}

.bx.red {
  background: #dc3848;
  color: #fff;
}

.bx.green {
  background: #29a847;
  color: #fff;
}

.bx.blue {
  background: #249beb;
  color: #fff;
}

.bx.turquoise {
  background: #00d1b2;
  color: #fff;
}

.bx.purple {
  background: #6f42c2;
  color: #fff;
}

.bx.darkblue {
  background: #002e47;
  color: #fff;
}

.bx.indigo {
  background: #6812f3;
  color: #fff;
}

.bx.pink {
  background: #e93f8e;
  color: #333;
}

.bx.orange {
  background: #fd7e17;
  color: #fff;
}

.bx.yellow {
  background: #ffdd57;
  color: #333;
}

.bx.teal {
  background: #20cb98;
  color: #fff;
}

.bx.cyan {
  background: #17a4ba;
  color: #fff;
}

.bx.primary {
  background: #6233cd;
  color: #fff;
}

.bx.secondary {
  background: #fff4e5;
  color: #333;
}

.bx.light {
  background: #fafafa;
  color: #333;
}

.bx.dark {
  background: #212121;
  color: #fff;
}

.bx.muted {
  background: #877d7d;
  color: #fff;
}

.bx.danger {
  background: #dc3848;
  color: #fff;
}

.bx.success {
  background: #29a847;
  color: #fff;
}

.bx.info {
  background: #249beb;
  color: #fff;
}

.bx.warning {
  background: #ffdd57;
  color: #333;
}

.bx.danger-light {
  background: #feecf0;
  color: #333;
}

.bx.info-light {
  background: #eef6fc;
  color: #333;
}

.bx.success-light {
  background: #effaf3;
  color: #333;
}

.bx.warning-light {
  background: #fffbeb;
  color: #333;
}

button,
.nk-btn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.375em 1em;
  cursor: text;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: #fff;
}
button.xs,
.xs.nk-btn {
  font-size: 0.6rem;
}
button.sm,
.sm.nk-btn {
  font-size: 0.75rem;
}
button.md,
.md.nk-btn {
  font-size: 1.25rem;
}
button.lg,
.lg.nk-btn {
  font-size: 1.5rem;
}

[class*=nk-btn].focus, [class*=nk-btn]:focus {
  outline: none;
}

.nk-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button,
.nk-btn {
  background: #f8f8f8;
  color: #333;
  transition-duration: 150ms;
  transition-property: background-color, color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}
button:hover,
.nk-btn:hover {
  background-color: #eeeeee;
  color: #333;
}
button:active,
.nk-btn:active {
  background-color: white;
  color: #333;
}
button.link,
.nk-btn.link {
  background-color: transparent;
  background-image: none;
  border: none;
  color: #5850ec;
}
button .icon,
.nk-btn .icon {
  height: 1.25em;
}

.nk-btn.white {
  background: #fff;
  color: #333;
}
.nk-btn.white:hover {
  background-color: whitesmoke;
  color: #333;
}
.nk-btn.white:active {
  background-color: white;
  color: #333;
}

.nk-btn.red {
  background: #dc3848;
  color: #fff;
}
.nk-btn.red:hover {
  background-color: #d92638;
  color: #fff;
}
.nk-btn.red:active {
  background-color: #e15664;
  color: #fff;
}

.nk-btn.green {
  background: #29a847;
  color: #fff;
}
.nk-btn.green:hover {
  background-color: #259840;
  color: #fff;
}
.nk-btn.green:active {
  background-color: #30c553;
  color: #fff;
}

.nk-btn.blue {
  background: #249beb;
  color: #fff;
}
.nk-btn.blue:hover {
  background-color: #1592e5;
  color: #fff;
}
.nk-btn.blue:active {
  background-color: #44aaee;
  color: #fff;
}

.nk-btn.turquoise {
  background: #00d1b2;
  color: #fff;
}
.nk-btn.turquoise:hover {
  background-color: #00bda0;
  color: #fff;
}
.nk-btn.turquoise:active {
  background-color: #00f5d0;
  color: #fff;
}

.nk-btn.purple {
  background: #6f42c2;
  color: #fff;
}
.nk-btn.purple:hover {
  background-color: #663bb5;
  color: #fff;
}
.nk-btn.purple:active {
  background-color: #845dcb;
  color: #fff;
}

.nk-btn.darkblue {
  background: #002e47;
  color: #fff;
}
.nk-btn.darkblue:hover {
  background-color: #002133;
  color: #fff;
}
.nk-btn.darkblue:active {
  background-color: #00466b;
  color: #fff;
}

.nk-btn.indigo {
  background: #6812f3;
  color: #fff;
}
.nk-btn.indigo:hover {
  background-color: #5f0ce4;
  color: #fff;
}
.nk-btn.indigo:active {
  background-color: #7d34f4;
  color: #fff;
}

.nk-btn.pink {
  background: #e93f8e;
  color: #333;
}
.nk-btn.pink:hover {
  background-color: #e62d84;
  color: #333;
}
.nk-btn.pink:active {
  background-color: #ec5fa1;
  color: #333;
}

.nk-btn.orange {
  background: #fd7e17;
  color: #fff;
}
.nk-btn.orange:hover {
  background-color: #fc7303;
  color: #fff;
}
.nk-btn.orange:active {
  background-color: #fd923a;
  color: #fff;
}

.nk-btn.yellow {
  background: #ffdd57;
  color: #333;
}
.nk-btn.yellow:hover {
  background-color: #ffd942;
  color: #333;
}
.nk-btn.yellow:active {
  background-color: #ffe47a;
  color: #333;
}

.nk-btn.teal {
  background: #20cb98;
  color: #fff;
}
.nk-btn.teal:hover {
  background-color: #1db98a;
  color: #fff;
}
.nk-btn.teal:active {
  background-color: #30dfaa;
  color: #fff;
}

.nk-btn.cyan {
  background: #17a4ba;
  color: #fff;
}
.nk-btn.cyan:hover {
  background-color: #1594a8;
  color: #fff;
}
.nk-btn.cyan:active {
  background-color: #1bc0da;
  color: #fff;
}

.nk-btn.primary {
  background: #6233cd;
  color: #fff;
}
.nk-btn.primary:hover {
  background-color: #5a2ebd;
  color: #fff;
}
.nk-btn.primary:active {
  background-color: #7850d4;
  color: #fff;
}

.nk-btn.secondary {
  background: #fff4e5;
  color: #333;
}
.nk-btn.secondary:hover {
  background-color: #ffebd1;
  color: #333;
}
.nk-btn.secondary:active {
  background-color: white;
  color: #333;
}

.nk-btn.light {
  background: #fafafa;
  color: #333;
}
.nk-btn.light:hover {
  background-color: #f0f0f0;
  color: #333;
}
.nk-btn.light:active {
  background-color: white;
  color: #333;
}

.nk-btn.dark {
  background: #212121;
  color: #fff;
}
.nk-btn.dark:hover {
  background-color: #171717;
  color: #fff;
}
.nk-btn.dark:active {
  background-color: #333333;
  color: #fff;
}

.nk-btn.muted {
  background: #877d7d;
  color: #fff;
}
.nk-btn.muted:hover {
  background-color: #7d7373;
  color: #fff;
}
.nk-btn.muted:active {
  background-color: #989090;
  color: #fff;
}

.nk-btn.danger {
  background: #dc3848;
  color: #fff;
}
.nk-btn.danger:hover {
  background-color: #d92638;
  color: #fff;
}
.nk-btn.danger:active {
  background-color: #e15664;
  color: #fff;
}

.nk-btn.success {
  background: #29a847;
  color: #fff;
}
.nk-btn.success:hover {
  background-color: #259840;
  color: #fff;
}
.nk-btn.success:active {
  background-color: #30c553;
  color: #fff;
}

.nk-btn.info {
  background: #249beb;
  color: #fff;
}
.nk-btn.info:hover {
  background-color: #1592e5;
  color: #fff;
}
.nk-btn.info:active {
  background-color: #44aaee;
  color: #fff;
}

.nk-btn.warning {
  background: #ffdd57;
  color: #333;
}
.nk-btn.warning:hover {
  background-color: #ffd942;
  color: #333;
}
.nk-btn.warning:active {
  background-color: #ffe47a;
  color: #333;
}

.nk-btn.danger-light {
  background: #feecf0;
  color: #333;
}
.nk-btn.danger-light:hover {
  background-color: #fdd8e0;
  color: #333;
}
.nk-btn.danger-light:active {
  background-color: white;
  color: #333;
}

.nk-btn.info-light {
  background: #eef6fc;
  color: #333;
}
.nk-btn.info-light:hover {
  background-color: #dcedf9;
  color: #333;
}
.nk-btn.info-light:active {
  background-color: white;
  color: #333;
}

.nk-btn.success-light {
  background: #effaf3;
  color: #333;
}
.nk-btn.success-light:hover {
  background-color: #e0f5e8;
  color: #333;
}
.nk-btn.success-light:active {
  background-color: white;
  color: #333;
}

.nk-btn.warning-light {
  background: #fffbeb;
  color: #333;
}
.nk-btn.warning-light:hover {
  background-color: #fff7d6;
  color: #333;
}
.nk-btn.warning-light:active {
  background-color: white;
  color: #333;
}

.dd {
  position: relative;
  display: inline-flex;
}
.dd-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 12rem;
  padding-top: 4px;
  padding: 1rem;
  z-index: 1000;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.dd .nav {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0;
}

.dd:hover .dd-content {
  display: block;
}

.nk-icon {
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: bottom;
  color: inherit;
  padding: 2px;
}
.nk-icon.sm {
  height: 1em;
  width: 1em;
}
.nk-icon.md {
  height: 2em;
  width: 2em;
}
.nk-icon.lg {
  height: 3em;
  width: 3em;
}
.nk-icon + span {
  margin-left: 0.5rem;
}

.lst {
  list-style: none;
  margin: 0;
}

.primary {
  background: #6233cd;
  border: 1px solid #6233cd;
  color: #fff;
}
.primary.outline:not(:hover) {
  background-color: transparent;
  border-color: #6233cd;
  color: #6233cd;
}

.secondary {
  background: #fff4e5;
  border: 1px solid #fff4e5;
  color: #333;
}
.secondary.outline:not(:hover) {
  background-color: transparent;
  border-color: #fff4e5;
  color: #fff4e5;
}

.danger {
  background: #dc3848;
  border: 1px solid #dc3848;
  color: #fff;
}
.danger-light {
  background-color: #feecf0;
  color: #dc3848;
  border: 1px solid #dc3848;
}
.danger.outline:not(:hover) {
  background-color: transparent;
  border-color: #dc3848;
  color: #dc3848;
}

.success {
  background: #29a847;
  border: 1px solid #29a847;
  color: #fff;
}
.success-light {
  background-color: #effaf3;
  color: #29a847;
  border: 1px solid #29a847;
}
.success.outline:not(:hover) {
  background-color: transparent;
  border-color: #29a847;
  color: #29a847;
}

.info {
  background: #249beb;
  border: 1px solid #249beb;
  color: #fff;
}
.info-light {
  background-color: #eef6fc;
  color: #249beb;
  border: 1px solid #249beb;
}
.info.outline:not(:hover) {
  background-color: transparent;
  border-color: #249beb;
  color: #249beb;
}

.warning {
  background: #ffdd57;
  border: 1px solid #ffdd57;
  color: #333;
}
.warning-light {
  background-color: #fffbeb;
  color: #ffdd57;
  border: 1px solid #ffdd57;
}
.warning.outline:not(:hover) {
  background-color: transparent;
  border-color: #ffdd57;
  color: #ffdd57;
}

.white {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.red {
  background: #dc3848;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.green {
  background: #29a847;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.blue {
  background: #249beb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.turquoise {
  background: #00d1b2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.purple {
  background: #6f42c2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.darkblue {
  background: #002e47;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.indigo {
  background: #6812f3;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.pink {
  background: #e93f8e;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.orange {
  background: #fd7e17;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.yellow {
  background: #ffdd57;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.teal {
  background: #20cb98;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.cyan {
  background: #17a4ba;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.light {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.dark {
  background: #212121;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.muted {
  background: #877d7d;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.danger-light {
  background: #feecf0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.info-light {
  background: #eef6fc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.success-light {
  background: #effaf3;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.warning-light {
  background: #fffbeb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.grey9 {
  background: #2b2b2b;
}

.grey8 {
  background: #454545;
}

.grey7 {
  background: #5e5e5e;
}

.grey6 {
  background: #787878;
}

.grey5 {
  background: #919191;
}

.grey4 {
  background: #ababab;
}

.grey3 {
  background: #c4c4c4;
}

.grey2 {
  background: #dedede;
}

.grey1 {
  background: #f7f7f7;
}

.orange9 {
  background: #ff4f1a;
}

.orange8 {
  background: #ff6333;
}

.orange7 {
  background: #ff764d;
}

.orange6 {
  background: #ff8a66;
}

.orange5 {
  background: #ff9d80;
}

.orange4 {
  background: #ffb199;
}

.orange3 {
  background: #ffc4b3;
}

.orange2 {
  background: #ffd8cc;
}

.orange1 {
  background: #ffebe6;
}

.yellow9 {
  background: #ffe375;
}

.yellow8 {
  background: #ffe785;
}

.yellow7 {
  background: #ffea94;
}

.yellow6 {
  background: #ffeda3;
}

.yellow5 {
  background: #fff0b3;
}

.yellow4 {
  background: #fff3c2;
}

.yellow3 {
  background: #fff6d1;
}

.yellow2 {
  background: #fff9e0;
}

.yellow1 {
  background: #fffcf0;
}

.bdr-tb {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.bdr-lr {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.bdr-t {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.bdr-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.bdr-l {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.bdr-r {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.nbdr {
  border: none;
}

.nbdr-t {
  border-top: none;
}

.nbdr-b {
  border-bottom: none;
}

.nbdr-l {
  border-left: none;
}

.nbdr-r {
  border-right: none;
}

.bdr1 {
  border-width: 1px;
}

.bdr3 {
  border-width: 3px;
}

.bdr5 {
  border-width: 5px;
}

.bdr10 {
  border-width: 10px;
}

.bdr-orange {
  border: 1px solid var(--orange);
}

.bdr-red {
  border: 1px solid #dc3848;
}

.bdr-green {
  border: 1px solid var(--green);
}

.bdr-blue {
  border: 1px solid var(--blue);
}

.bdr-primary {
  border: 1px solid #6233cd;
}

.bdr-secondary {
  border: 1px solid var(--secondary);
}

.bdr-success {
  border: 1px solid var(--success);
}

.bdr-danger {
  border: 1px solid var(--danger);
}

.bdr-info {
  border: 1px solid var(--info);
}

.bdrr {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.bdrr-t {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.bdrr-b {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.bdrr-l {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.bdrr-r {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nbr {
  border-radius: 0;
}
.nbr-t {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nbr-b {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nbr-l {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nbr-r {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }

  .block-on-mobile {
    display: block !important;
  }

  .flex-on-mobile {
    display: flex !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hide-on-tablet {
    display: none !important;
  }

  .block-on-tablet {
    display: block !important;
  }

  .flex-on-tablet {
    display: flex !important;
  }
}
@media (min-width: 1200px) and (max-width: 1199px) {
  .hide-on-desktop {
    display: none !important;
  }

  .block-on-desktop {
    display: block !important;
  }

  .flex-on-desktop {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .hide-from-tablet {
    display: none !important;
  }

  .block-from-tablet {
    display: block !important;
  }

  .flex-from-tablet {
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .hide-from-desktop {
    display: none !important;
  }

  .block-from-desktop {
    display: block !important;
  }

  .flex-from-desktop {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .hide-up-to-tablet {
    display: none !important;
  }

  .block-up-to-tablet {
    display: block !important;
  }

  .flex-up-to-tablet {
    display: flex !important;
  }
}
@media (max-width: 1199px) {
  .hide-up-to-desktop {
    display: none !important;
  }

  .block-up-to-desktop {
    display: block !important;
  }

  .flex-up-to-desktop {
    display: flex !important;
  }
}
.ha-l {
  justify-content: flex-start;
}

.ha-r {
  justify-content: flex-end;
}

.ha-c {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-even {
  justify-content: space-evenly;
}

.va-t {
  align-items: flex-start;
}

.va-b {
  align-items: flex-end;
}

.va-c {
  align-items: center;
}

.va-start {
  align-items: flex-start;
}

.va-stretch {
  align-items: stretch;
}

.va-baseline {
  align-items: baseline;
}

.align-self-auto {
  align-self: auto;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-center {
  align-self: center;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-stretch {
  align-self: stretch;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.fsg1 {
  flex: 1 1 0%;
}

.fs-auto {
  flex: 0 1 auto;
}

.fsg-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.fg0 {
  flex-grow: 0;
}

.fs0 {
  flex-shrink: 0;
}

.fg1 {
  flex-grow: 1;
}

.fs1 {
  flex-shrink: 1;
}

.fg2 {
  flex-grow: 2;
}

.fs2 {
  flex-shrink: 2;
}

@media (min-width: 992px) {
  .md-ha-l {
    justify-content: flex-start;
  }

  .md-ha-r {
    justify-content: flex-end;
  }

  .md-ha-c {
    justify-content: center;
  }

  .md-space-between {
    justify-content: space-between;
  }

  .md-space-around {
    justify-content: space-around;
  }

  .md-space-even {
    justify-content: space-evenly;
  }

  .md-va-t {
    align-items: flex-start;
  }

  .md-va-b {
    align-items: flex-end;
  }

  .md-va-c {
    align-items: center;
  }

  .md-va-start {
    align-items: flex-start;
  }

  .md-va-stretch {
    align-items: stretch;
  }

  .md-va-baseline {
    align-items: baseline;
  }

  .md-align-self-auto {
    align-self: auto;
  }

  .md-align-self-baseline {
    align-self: baseline;
  }

  .md-align-self-center {
    align-self: center;
  }

  .md-align-self-flex-end {
    align-self: flex-end;
  }

  .md-align-self-flex-start {
    align-self: flex-start;
  }

  .md-align-self-stretch {
    align-self: stretch;
  }

  .md-flex-column {
    flex-direction: column;
  }

  .md-flex-column-reverse {
    flex-direction: column-reverse;
  }

  .md-flex-row {
    flex-direction: row;
  }

  .md-flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md-wrap {
    flex-wrap: wrap;
  }

  .md-nowrap {
    flex-wrap: nowrap;
  }

  .md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .md-fsg1 {
    flex: 1 1 0%;
  }

  .md-fs-auto {
    flex: 0 1 auto;
  }

  .md-fsg-auto {
    flex: 1 1 auto;
  }

  .md-flex-none {
    flex: none;
  }
}
.grid {
  display: grid;
  gap: 1.25rem;
}

.gg {
  gap: 1.25rem;
}

.gg-3-1-1 {
  gap: 1rem !important;
}
@media (min-width: 1200px) {
  .gg-3-1-1 {
    gap: 3rem !important;
  }
}

.gg-0 {
  gap: 0rem;
}

.gg-1 {
  gap: 1rem;
}

.gg-2 {
  gap: 2rem;
}

.gg-3 {
  gap: 3rem;
}

.gg-4 {
  gap: 4rem;
}

.gg-5 {
  gap: 5rem;
}

.cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.cols-30\:70 {
  grid-template-columns: 3fr 7fr;
}

.cols-2-2-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .cols-2-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-2-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cols-3-1-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .cols-3-1-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-3-1-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cols-3-2-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .cols-3-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-3-2-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cols-3-3-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .cols-3-3-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-3-3-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cols-4-2-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .cols-4-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-4-2-1 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cols-6-3-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .cols-6-3-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-6-3-1 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 768px) {
  .cols-60\:40-50\:50-100 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-60\:40-50\:50-100 {
    grid-template-columns: 3fr 2fr;
  }
}

@media (min-width: 768px) {
  .cols-40\:60-50\:50-100 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .cols-40\:60-50\:50-100 {
    grid-template-columns: 2fr 3fr;
  }
}

.cols-4-4-2-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .cols-4-4-2-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .cols-4-4-2-1 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.cols-4-3-2-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .cols-4-3-2-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .cols-4-3-2-1 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .cols-4-3-2-1 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 576px) {
  .cols-sm-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-sm-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-sm-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-sm-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-sm-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-sm-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .cols-md-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-md-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-md-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-md-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .cols-lg-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-lg-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-lg-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-lg-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-lg-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-lg-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .cols-xl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-xl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-xl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-xl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-xl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-xl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1600px) {
  .cols-xxl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-xxl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-xxl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-xxl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-xxl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-xxl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.w-fc {
  width: fit-content;
}

.w-1 {
  width: 1rem !important;
}

.h-1 {
  height: 1rem !important;
}

.wh-1 {
  width: 1rem !important;
  height: 1rem !important;
}

.w-2 {
  width: 2rem !important;
}

.h-2 {
  height: 2rem !important;
}

.wh-2 {
  width: 2rem !important;
  height: 2rem !important;
}

.w-3 {
  width: 3rem !important;
}

.h-3 {
  height: 3rem !important;
}

.wh-3 {
  width: 3rem !important;
  height: 3rem !important;
}

.w-4 {
  width: 4rem !important;
}

.h-4 {
  height: 4rem !important;
}

.wh-4 {
  width: 4rem !important;
  height: 4rem !important;
}

.w-95 {
  width: 95rem !important;
}

.h-95 {
  height: 95rem !important;
}

.wh-95 {
  width: 95rem !important;
  height: 95rem !important;
}

.w-16 {
  width: 16px !important;
}

.h-16 {
  height: 16px !important;
}

.wh-16 {
  width: 16px !important;
  height: 16px !important;
}

.w-24 {
  width: 24px !important;
}

.h-24 {
  height: 24px !important;
}

.wh-24 {
  width: 24px !important;
  height: 24px !important;
}

.w-32 {
  width: 32px !important;
}

.h-32 {
  height: 32px !important;
}

.wh-32 {
  width: 32px !important;
  height: 32px !important;
}

.w-40 {
  width: 40px !important;
}

.h-40 {
  height: 40px !important;
}

.wh-40 {
  width: 40px !important;
  height: 40px !important;
}

.w-64 {
  width: 64px !important;
}

.h-64 {
  height: 64px !important;
}

.wh-64 {
  width: 64px !important;
  height: 64px !important;
}

.w-100 {
  width: 100px !important;
}

.h-100 {
  height: 100px !important;
}

.wh-100 {
  width: 100px !important;
  height: 100px !important;
}

.w-150 {
  width: 150px !important;
}

.h-150 {
  height: 150px !important;
}

.wh-150 {
  width: 150px !important;
  height: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.h-200 {
  height: 200px !important;
}

.wh-200 {
  width: 200px !important;
  height: 200px !important;
}

.w-300 {
  width: 300px !important;
}

.h-300 {
  height: 300px !important;
}

.wh-300 {
  width: 300px !important;
  height: 300px !important;
}

.w-400 {
  width: 400px !important;
}

.h-400 {
  height: 400px !important;
}

.wh-400 {
  width: 400px !important;
  height: 400px !important;
}

.w-600 {
  width: 600px !important;
}

.h-600 {
  height: 600px !important;
}

.wh-600 {
  width: 600px !important;
  height: 600px !important;
}

.w-1\/4 {
  width: 25%;
}

.w-1\/3 {
  width: 33.33%;
}

.w-1\/2 {
  width: 50%;
}

.w-3\/4 {
  width: 75%;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mxy-auto {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.children-py-5-3-2 > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .children-py-5-3-2 > * {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .children-py-5-3-2 > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.space-mx > * + * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.mx-025 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-075 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.my-025 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-075 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mxy-0 {
  margin: 0;
}

.mxy {
  margin: 1.25em;
}

.mxy-025 {
  margin: 0.25rem;
}

.mxy-05 {
  margin: 0.5rem;
}

.mxy-075 {
  margin: 0.75rem;
}

.mxy-1 {
  margin: 1rem;
}

.mxy-2 {
  margin: 2rem;
}

.mxy-3 {
  margin: 3rem;
}

.mxy-4 {
  margin: 4rem;
}

.mxy-5 {
  margin: 5rem;
}

.mtb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mtb {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.mtb-025 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mtb-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mtb-075 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mtb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mtb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mtb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mtb-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mtb-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mlr-0 {
  margin-left: 0;
  margin-right: 0;
}

.mlr {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.mlr-025 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mlr-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mlr-075 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mlr-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mlr-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mlr-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mlr-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mlr-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt {
  margin-top: 1.25em;
}

.mt-025 {
  margin-top: 0.25rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-075 {
  margin-top: 0.75rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb {
  margin-bottom: 1.25em;
}

.mb-025 {
  margin-bottom: 0.25rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-075 {
  margin-bottom: 0.75rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml {
  margin-left: 1.25em;
}

.ml-025 {
  margin-left: 0.25rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.ml-075 {
  margin-left: 0.75rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr {
  margin-right: 1.25em;
}

.mr-025 {
  margin-right: 0.25rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mr-075 {
  margin-right: 0.75rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.px-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.py-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-075 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pxy-0 {
  padding: 0;
}

.pxy {
  padding: 1.25em;
}

.pxy-025 {
  padding: 0.25rem;
}

.pxy-05 {
  padding: 0.5rem;
}

.pxy-075 {
  padding: 0.75rem;
}

.pxy-1 {
  padding: 1rem;
}

.pxy-2 {
  padding: 2rem;
}

.pxy-3 {
  padding: 3rem;
}

.pxy-4 {
  padding: 4rem;
}

.pxy-5 {
  padding: 5rem;
}

.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ptb {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.ptb-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ptb-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ptb-075 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.ptb-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ptb-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ptb-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ptb-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.ptb-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

.plr {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.plr-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.plr-05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.plr-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.plr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.plr-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.plr-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.plr-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.plr-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt {
  padding-top: 1.25em;
}

.pt-025 {
  padding-top: 0.25rem;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pt-075 {
  padding-top: 0.75rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb {
  padding-bottom: 1.25em;
}

.pb-025 {
  padding-bottom: 0.25rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

.pb-075 {
  padding-bottom: 0.75rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl {
  padding-left: 1.25em;
}

.pl-025 {
  padding-left: 0.25rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.pl-075 {
  padding-left: 0.75rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr {
  padding-right: 1.25em;
}

.pr-025 {
  padding-right: 0.25rem;
}

.pr-05 {
  padding-right: 0.5rem;
}

.pr-075 {
  padding-right: 0.75rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.y-10-6-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .y-10-6-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 1200px) {
  .y-10-6-2 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.x-2-2-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .x-2-2-1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .x-2-2-1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.lead {
  font-size: 1.2rem;
}

h1.title {
  font-size: 2.25rem;
}

.title {
  color: #6233cd;
  font-size: 3.75;
  font-weight: 700;
  line-height: 1.125;
}

.subtitle {
  color: #6233cd;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.125;
}

.nav-header {
  font-size: 1.25rem;
  color: #333;
}

.txt-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.txt-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.txt-xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.txt-green {
  color: #29a847;
}
.txt-red {
  color: #dc3848;
}
.txt-orange {
  color: #fd7e17;
}
.txt-blue {
  color: #249beb;
}
.txt-white {
  color: #fff;
}
.txt-muted {
  color: var(--muted);
}
.txt-primary {
  color: #6233cd;
}
.txt-secondary {
  color: var(--secondary);
}

.fw-4 {
  font-weight: 400;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-9 {
  font-weight: 900;
}

.lh-1 {
  line-height: 1;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.taj {
  text-align: justify;
}

.txt-strike {
  text-transform: line-through;
}

.txt-underline {
  text-transform: underline;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-lower {
  text-transform: lowercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.fullwidth {
  width: 100%;
  max-width: 100%;
}

.round {
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 41, 55, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}

.no-click {
  pointer-events: none;
}

.close {
  color: crimson;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
}
.close:hover {
  color: #a34558;
  cursor: pointer;
}
.close:active {
  color: crimson;
  cursor: pointer;
}

.divider-y > * {
  border-top: 1px solid #ddd;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.divider-y > *:first-child {
  border-top: none;
  padding-top: 0;
}
.divider-y > *:last-child {
  padding-bottom: 0;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nk-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 1200px) {
  .nk-container {
    width: 75em;
  }
}

.zebra section:nth-child(2n+2):not(.primary):not(.secondary) {
  background: whitesmoke;
}

:disabled {
  cursor: not-allowed;
}

:disabled,
.disabled {
  opacity: 0.5;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.posa {
  position: absolute !important;
}

.posr {
  position: relative !important;
}

[class*=pos-] {
  position: absolute !important;
}

.pos-t {
  top: 0;
  left: 0;
  right: 0;
}
.pos-b {
  bottom: 0;
  left: 0;
  right: 0;
}
.pos-l {
  left: 0;
}
.pos-r {
  right: 0;
}
.pos-tl {
  top: 0;
  left: 0;
}
.pos-tr {
  top: 0;
  right: 0;
}
.pos-bl {
  bottom: 0;
  left: 0;
}
.pos-br {
  bottom: 0;
  right: 0;
}

:is(.bx) + *:not(.flex > *)*:not(.grid > *):not(hr) {
  margin-top: 1.25em;
}

:is(.frm-row:not(* > :first-child):not(input[type=hidden] + .frm-row)),
:is(p, h1, h2, h3, h4, h5, h6, pre, form, table, ul, .grid, .frm-row) + *:not(hr):not(.overlay):not(.bx-content),
:is(.menu) + *,
* + :is(p, pre):not(:first-child) {
  margin-top: 1.25em;
}

.fancy-icon-button {
  text-align: center;
  position: relative;
  display: inline-block;
}
.fancy-icon-button .nk-icon {
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0.5rem 0.5rem 0;
}
.fancy-icon-button .badge {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: #dc3848;
  border: 1px solid #bf2231;
  color: white;
}

#nk-header,
#nk-header > .nk-container {
  background: #eeebf6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-gap: 2.5rem;
  flex-wrap: wrap;
}
#nk-header #search,
#nk-header > .nk-container #search {
  display: flex;
  flex: 1 1 auto;
}
#nk-header #search input,
#nk-header > .nk-container #search input {
  width: 100%;
  margin-right: 4px;
}
@media (max-width: 1199px) {
  #nk-header #search,
#nk-header > .nk-container #search {
    flex: 1 1 100%;
    order: 3;
  }
}

#nk-main {
  flex: 1;
  background: none;
  margin: 0;
}

#nk-footer {
  background: #191c1d;
  margin-top: auto;
}
#nk-footer nav {
  text-align: center;
}
#nk-footer nav a {
  padding: 0 1rem;
  color: #ccc;
  font-size: 0.8rem;
}
#nk-footer nav a:hover {
  color: #ddd;
  background: #444;
}

.copyright {
  color: #cccccc;
  background: #141718;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  border: 0;
  width: 100%;
}

.logo a:hover {
  background: none;
}

.nk-admin .navbar {
  background-image: linear-gradient(to right top, #20242a, #1e1f27, #1e1a23, #1f141d, #1f0e16, #250e15, #2c0e12, #310f0c, #40140e, #4e1a0e, #5c210c, #692906);
}

.icon-box {
  border: 1px solid #ccc;
  padding: 0.5rem 0;
}
.icon-box svg {
  height: 72px !important;
}
.icon-box .icon {
  width: 150px;
}
.icon-box .icon-title {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  margin-top: -0.5rem;
}

.g-recaptcha {
  max-width: 200px;
}

@media (min-width: 768px) {
  #cart .dd-content {
    min-width: 30rem;
  }
}

#product-grid > div {
  margin-left: -1px;
  margin-bottom: -1px;
}
#product-grid .nk-btn {
  font-size: 0.875rem;
  text-transform: capitalize;
}
#product-grid .nk-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-thumbnail {
  height: 190px;
}

.product-title {
  height: 40px;
}

.rating {
  color: #ffcb05;
}
.rating .fa-stack {
  font-size: 0.5rem;
}

#search .input-lg {
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
}
#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 35px;
  text-shadow: 0 1px 0 #fff;
}

html {
  font-size: 1rem;
}

svg {
  fill: currentcolor;
}

img,
video {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

button,
.nk-btn {
  font-size: 0.875rem;
  cursor: pointer;
}

tr {
  border: 1px solid #ddd;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .nk-container {
    width: 1170px;
  }
}
#menu {
  background-color: #6233cd;
  min-height: 40px;
}
#menu .nav > li > a {
  color: #fff;
  padding: 10px 15px 10px 15px;
  min-height: 15px;
}

#menu .nav > li > a:hover,
#menu .nav > li.open > a {
  background-color: rgba(255, 255, 255, 0.1);
}

#menu .dropdown-menu {
  padding-bottom: 0;
}

#menu .dropdown-inner {
  display: table;
}

#menu .dropdown-inner ul {
  display: table-cell;
}

#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
}

#menu .dropdown-inner li a:hover {
  color: #ffffff;
}

#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #ddd;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}

#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #fff;
  padding: 2px 18px;
  float: right;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #229ac8;
}

@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
  }

  #menu div.dropdown-inner > ul.list-unstyled {
    display: block;
  }

  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  #menu .dropdown-inner {
    display: block;
  }

  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }

  #menu .dropdown-menu a:hover,
#menu .dropdown-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}
