body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

/* default font size */
.fa {
  font-size: 14px;
}

/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10.2px;
}

legend {
  font-size: 18px;
  padding: 7px 0px;
}

label {
  font-size: 12px;
  font-weight: normal;
}

select.form-control, textarea.form-control, input[type=text].form-control, input[type=password].form-control, input[type=datetime].form-control, input[type=datetime-local].form-control, input[type=date].form-control, input[type=month].form-control, input[type=time].form-control, input[type=week].form-control, input[type=number].form-control, input[type=email].form-control, input[type=url].form-control, input[type=search].form-control, input[type=tel].form-control, input[type=color].form-control {
  font-size: 12px;
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
  font-size: 12px;
}

.input-group .input-group-addon {
  font-size: 12px;
  height: 30px;
}

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline;
}

.nav-tabs {
  margin-bottom: 15px;
}

div.required .control-label:before {
  content: "* ";
  color: #F00;
  font-weight: bold;
}

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}

/* top */
#top {
  background-color: #EEEEEE;
  border-bottom: 1px solid #e2e2e2;
  padding: 4px 0px 3px 0;
  margin: 0 0 20px 0;
  min-height: 40px;
}

#top .container {
  padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
  text-align: left;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
  text-shadow: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}

#top .btn-link, #top-links li, #top-links a {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none;
}

#top .btn-link:hover, #top-links a:hover {
  color: #444;
}

#top-links .dropdown-menu a {
  text-shadow: none;
}

#top-links .dropdown-menu a:hover {
  color: #FFF;
}

#top .btn-link strong {
  font-size: 14px;
  line-height: 14px;
}

#top-links {
  padding-top: 6px;
}

#top-links a + a {
  margin-left: 15px;
}

/* search */
#search {
  margin-bottom: 10px;
}

#search .input-lg {
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
}

#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 35px;
  text-shadow: 0 1px 0 #FFF;
}

/* cart */
#cart {
  margin-bottom: 10px;
}

#cart > .btn {
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
}

#cart.open > .btn {
  background-image: none;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #666;
  box-shadow: none;
  text-shadow: none;
}

#cart.open > .btn:hover {
  color: #444;
}

#cart .dropdown-menu {
  background: #eee;
  z-index: 1001;
}

#cart .dropdown-menu {
  min-width: 100%;
  overflow-y: auto;
  max-height: 800px;
  scrollbar-width: thin;
  overflow-x: hidden;
}

@media (max-width: 478px) {
  #cart .dropdown-menu {
    width: 100%;
  }
}
#cart .dropdown-menu table {
  margin-bottom: 10px;
}

#cart .dropdown-menu li > div {
  min-width: 427px;
  padding: 0 10px;
}

@media (max-width: 478px) {
  #cart .dropdown-menu li > div {
    min-width: 100%;
  }
}
#cart .dropdown-menu li p {
  margin: 20px 0;
}

/* content */
#content {
  min-height: 600px;
}

/* footer */
footer {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
}

footer hr {
  border-top: none;
  border-bottom: 1px solid #666;
}

footer a {
  color: #ccc;
}

footer a:hover {
  color: #fff;
}

footer h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

/* alert */
.alert {
  padding: 8px 14px 8px 14px;
}

/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
}

.breadcrumb i {
  font-size: 15px;
}

.breadcrumb > li {
  text-shadow: 0 1px 0 #FFF;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}

.breadcrumb > li + li:before {
  content: "";
  padding: 0;
}

.breadcrumb > li:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

html[dir=rtl] .breadcrumb > li::after {
  top: -3px;
  left: -5px;
  width: 26px;
  height: 26px;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
  right: unset;
  border-right: unset;
  border-bottom: unset;
}

.pagination {
  margin: 0;
}

/* buttons */
.buttons {
  margin: 1em 0;
}

.btn {
  padding: 7.5px 12px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-xs {
  font-size: 9px;
}

.btn-sm {
  font-size: 10.2px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 15px;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-size: 12px;
}

.btn-group > .btn-xs {
  font-size: 9px;
}

.btn-group > .btn-sm {
  font-size: 10.2px;
}

.btn-group > .btn-lg {
  font-size: 15px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-position: 0 -15px;
}

.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23A1D1;
  border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}

/* list group */
.list-group a {
  border: 1px solid #DDDDDD;
  color: #888888;
  padding: 8px 12px;
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #DDDDDD;
  text-shadow: 0 1px 0 #FFF;
}

/* carousel */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}

.carousel-control .icon-next:before {
  content: "\f054";
  font-family: FontAwesome;
}

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumbnails > li {
  margin-left: 20px;
}

.thumbnails {
  margin-left: -20px;
}

.thumbnails > img {
  width: 100%;
}

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}

.image-additional {
  max-width: 78px;
}

.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n+1),
#content .col-lg-3:nth-child(4n+1),
#content .col-lg-4:nth-child(3n+1),
#content .col-lg-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n+1),
#content .col-md-3:nth-child(4n+1),
#content .col-md-4:nth-child(3n+1),
#content .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n+1),
#content .col-sm-3:nth-child(4n+1),
#content .col-sm-4:nth-child(3n+1),
#content .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}
/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}
/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
  min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}

html[dir=rtl] .checkbox input[type=checkbox],
html[dir=rtl] .checkbox-inline input[type=checkbox],
html[dir=rtl] .radio input[type=radio],
html[dir=rtl] .radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px\9 ;
  margin-right: -20px;
  margin-left: unset;
}

html[dir=rtl] .input-group-btn:last-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

html[dir=rtl] .input-group .form-control:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

html[dir=rtl] .container .row:first-child .col-sm-4, html[dir=rtl] .container .row:first-child .col-sm-5 {
  float: right;
}

html[dir=rtl] #cart .dropdown-menu {
  left: 0;
  right: auto;
}

@media (min-width: 768px) {
  html[dir=rtl] .navbar-nav {
    float: right;
    margin: 0;
  }

  html[dir=rtl] .navbar-nav > li {
    float: right;
  }
}
.nk-bx {
  padding: 1.25em;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #333;
}
.nk-bx > *:first-child {
  margin-top: 0;
}
.nk-bx-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.nk-bx-header,
.nk-bx-footer {
  margin-left: -1.25em;
  margin-right: -1.25em;
  padding: 0.75rem 1.25em;
}

.nk-bx-header {
  margin-top: -1.25em !important;
  border-bottom: 1px solid;
  border-color: inherit;
  border-radius: 0.25rem 0.25rem 0 0;
}

.nk-bx-footer {
  margin-bottom: -1.25em !important;
  border-top: 1px solid;
  border-color: inherit;
  border-radius: 0 0 0.25rem 0.25rem;
}

:is(.nk-bx-title + .nk-bx-content),
:is(.nk-bx-content + .nk-bx-footer) {
  margin-top: 1.25em;
}

:is(.nk-bx-header + .nk-bx-content) {
  padding: 1.25em;
  margin-bottom: -1.25em;
  margin-left: -1.25em;
  margin-right: -1.25em;
}

.nk-bx.white {
  background: #fff;
  color: #333;
}

.nk-bx.red {
  background: #dc3848;
  color: #fff;
}

.nk-bx.green {
  background: #29a847;
  color: #fff;
}

.nk-bx.blue {
  background: #249beb;
  color: #fff;
}

.nk-bx.turquoise {
  background: #00d1b2;
  color: #fff;
}

.nk-bx.purple {
  background: #6f42c2;
  color: #fff;
}

.nk-bx.darkblue {
  background: #002e47;
  color: #fff;
}

.nk-bx.indigo {
  background: #6812f3;
  color: #fff;
}

.nk-bx.pink {
  background: #e93f8e;
  color: #333;
}

.nk-bx.orange {
  background: #fd7e17;
  color: #fff;
}

.nk-bx.yellow {
  background: #ffdd57;
  color: #333;
}

.nk-bx.teal {
  background: #20cb98;
  color: #fff;
}

.nk-bx.cyan {
  background: #17a4ba;
  color: #fff;
}

.nk-bx.primary {
  background: #6233cd;
  color: #fff;
}

.nk-bx.secondary {
  background: #fff4e5;
  color: #333;
}

.nk-bx.light {
  background: #fafafa;
  color: #333;
}

.nk-bx.dark {
  background: #212121;
  color: #fff;
}

.nk-bx.muted {
  background: #877d7d;
  color: #fff;
}

.nk-bx.danger {
  background: #dc3848;
  color: #fff;
}

.nk-bx.success {
  background: #29a847;
  color: #fff;
}

.nk-bx.info {
  background: #249beb;
  color: #fff;
}

.nk-bx.warning {
  background: #ffdd57;
  color: #333;
}

.nk-bx.danger-light {
  background: #feecf0;
  color: #333;
}

.nk-bx.info-light {
  background: #eef6fc;
  color: #333;
}

.nk-bx.success-light {
  background: #effaf3;
  color: #333;
}

.nk-bx.warning-light {
  background: #fffbeb;
  color: #333;
}

button,
.nk-btn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.375em 1em;
  cursor: text;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: #fff;
}
button.xs,
.xs.nk-btn {
  font-size: 0.6rem;
}
button.sm,
.sm.nk-btn {
  font-size: 0.75rem;
}
button.md,
.md.nk-btn {
  font-size: 1.25rem;
}
button.lg,
.lg.nk-btn {
  font-size: 1.5rem;
}

[class*=nk-btn].focus, [class*=nk-btn]:focus {
  outline: none;
}

.nk-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button,
.nk-btn {
  background: #f8f8f8;
  color: #333;
  transition-duration: 150ms;
  transition-property: background-color, color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}
button:hover,
.nk-btn:hover {
  background-color: #eeeeee;
  color: #333;
}
button:active,
.nk-btn:active {
  background-color: white;
  color: #333;
}
button.link,
.nk-btn.link {
  background-color: transparent;
  background-image: none;
  border: none;
  color: #5850ec;
}
button .icon,
.nk-btn .icon {
  height: 1.25em;
}

.nk-btn.white {
  background: #fff;
  color: #333;
}
.nk-btn.white:hover {
  background-color: whitesmoke;
  color: #333;
}
.nk-btn.white:active {
  background-color: white;
  color: #333;
}

.nk-btn.red {
  background: #dc3848;
  color: #fff;
}
.nk-btn.red:hover {
  background-color: #d92638;
  color: #fff;
}
.nk-btn.red:active {
  background-color: #e15664;
  color: #fff;
}

.nk-btn.green {
  background: #29a847;
  color: #fff;
}
.nk-btn.green:hover {
  background-color: #259840;
  color: #fff;
}
.nk-btn.green:active {
  background-color: #30c553;
  color: #fff;
}

.nk-btn.blue {
  background: #249beb;
  color: #fff;
}
.nk-btn.blue:hover {
  background-color: #1592e5;
  color: #fff;
}
.nk-btn.blue:active {
  background-color: #44aaee;
  color: #fff;
}

.nk-btn.turquoise {
  background: #00d1b2;
  color: #fff;
}
.nk-btn.turquoise:hover {
  background-color: #00bda0;
  color: #fff;
}
.nk-btn.turquoise:active {
  background-color: #00f5d0;
  color: #fff;
}

.nk-btn.purple {
  background: #6f42c2;
  color: #fff;
}
.nk-btn.purple:hover {
  background-color: #663bb5;
  color: #fff;
}
.nk-btn.purple:active {
  background-color: #845dcb;
  color: #fff;
}

.nk-btn.darkblue {
  background: #002e47;
  color: #fff;
}
.nk-btn.darkblue:hover {
  background-color: #002133;
  color: #fff;
}
.nk-btn.darkblue:active {
  background-color: #00466b;
  color: #fff;
}

.nk-btn.indigo {
  background: #6812f3;
  color: #fff;
}
.nk-btn.indigo:hover {
  background-color: #5f0ce4;
  color: #fff;
}
.nk-btn.indigo:active {
  background-color: #7d34f4;
  color: #fff;
}

.nk-btn.pink {
  background: #e93f8e;
  color: #333;
}
.nk-btn.pink:hover {
  background-color: #e62d84;
  color: #333;
}
.nk-btn.pink:active {
  background-color: #ec5fa1;
  color: #333;
}

.nk-btn.orange {
  background: #fd7e17;
  color: #fff;
}
.nk-btn.orange:hover {
  background-color: #fc7303;
  color: #fff;
}
.nk-btn.orange:active {
  background-color: #fd923a;
  color: #fff;
}

.nk-btn.yellow {
  background: #ffdd57;
  color: #333;
}
.nk-btn.yellow:hover {
  background-color: #ffd942;
  color: #333;
}
.nk-btn.yellow:active {
  background-color: #ffe47a;
  color: #333;
}

.nk-btn.teal {
  background: #20cb98;
  color: #fff;
}
.nk-btn.teal:hover {
  background-color: #1db98a;
  color: #fff;
}
.nk-btn.teal:active {
  background-color: #30dfaa;
  color: #fff;
}

.nk-btn.cyan {
  background: #17a4ba;
  color: #fff;
}
.nk-btn.cyan:hover {
  background-color: #1594a8;
  color: #fff;
}
.nk-btn.cyan:active {
  background-color: #1bc0da;
  color: #fff;
}

.nk-btn.primary {
  background: #6233cd;
  color: #fff;
}
.nk-btn.primary:hover {
  background-color: #5a2ebd;
  color: #fff;
}
.nk-btn.primary:active {
  background-color: #7850d4;
  color: #fff;
}

.nk-btn.secondary {
  background: #fff4e5;
  color: #333;
}
.nk-btn.secondary:hover {
  background-color: #ffebd1;
  color: #333;
}
.nk-btn.secondary:active {
  background-color: white;
  color: #333;
}

.nk-btn.light {
  background: #fafafa;
  color: #333;
}
.nk-btn.light:hover {
  background-color: #f0f0f0;
  color: #333;
}
.nk-btn.light:active {
  background-color: white;
  color: #333;
}

.nk-btn.dark {
  background: #212121;
  color: #fff;
}
.nk-btn.dark:hover {
  background-color: #171717;
  color: #fff;
}
.nk-btn.dark:active {
  background-color: #333333;
  color: #fff;
}

.nk-btn.muted {
  background: #877d7d;
  color: #fff;
}
.nk-btn.muted:hover {
  background-color: #7d7373;
  color: #fff;
}
.nk-btn.muted:active {
  background-color: #989090;
  color: #fff;
}

.nk-btn.danger {
  background: #dc3848;
  color: #fff;
}
.nk-btn.danger:hover {
  background-color: #d92638;
  color: #fff;
}
.nk-btn.danger:active {
  background-color: #e15664;
  color: #fff;
}

.nk-btn.success {
  background: #29a847;
  color: #fff;
}
.nk-btn.success:hover {
  background-color: #259840;
  color: #fff;
}
.nk-btn.success:active {
  background-color: #30c553;
  color: #fff;
}

.nk-btn.info {
  background: #249beb;
  color: #fff;
}
.nk-btn.info:hover {
  background-color: #1592e5;
  color: #fff;
}
.nk-btn.info:active {
  background-color: #44aaee;
  color: #fff;
}

.nk-btn.warning {
  background: #ffdd57;
  color: #333;
}
.nk-btn.warning:hover {
  background-color: #ffd942;
  color: #333;
}
.nk-btn.warning:active {
  background-color: #ffe47a;
  color: #333;
}

.nk-btn.danger-light {
  background: #feecf0;
  color: #333;
}
.nk-btn.danger-light:hover {
  background-color: #fdd8e0;
  color: #333;
}
.nk-btn.danger-light:active {
  background-color: white;
  color: #333;
}

.nk-btn.info-light {
  background: #eef6fc;
  color: #333;
}
.nk-btn.info-light:hover {
  background-color: #dcedf9;
  color: #333;
}
.nk-btn.info-light:active {
  background-color: white;
  color: #333;
}

.nk-btn.success-light {
  background: #effaf3;
  color: #333;
}
.nk-btn.success-light:hover {
  background-color: #e0f5e8;
  color: #333;
}
.nk-btn.success-light:active {
  background-color: white;
  color: #333;
}

.nk-btn.warning-light {
  background: #fffbeb;
  color: #333;
}
.nk-btn.warning-light:hover {
  background-color: #fff7d6;
  color: #333;
}
.nk-btn.warning-light:active {
  background-color: white;
  color: #333;
}

.nk-icon {
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: bottom;
  color: inherit;
  padding: 2px;
}
.nk-icon.sm {
  height: 1em;
  width: 1em;
}
.nk-icon.md {
  height: 2em;
  width: 2em;
}
.nk-icon.lg {
  height: 3em;
  width: 3em;
}
.nk-icon + span {
  margin-left: 0.5rem;
}

.nk-primary {
  background: #6233cd;
  border: 1px solid #6233cd;
  color: #fff;
}
.nk-primary.nk-outline:not(:hover) {
  background-color: transparent;
  border-color: #6233cd;
  color: #6233cd;
}

.nk-secondary {
  background: #fff4e5;
  border: 1px solid #fff4e5;
  color: #333;
}
.nk-secondary.nk-outline:not(:hover) {
  background-color: transparent;
  border-color: #fff4e5;
  color: #fff4e5;
}

.nk-danger {
  background: #dc3848;
  border: 1px solid #dc3848;
  color: #fff;
}
.nk-danger-light {
  background-color: #feecf0;
  color: #dc3848;
  border: 1px solid #dc3848;
}
.nk-danger.nk-outline:not(:hover) {
  background-color: transparent;
  border-color: #dc3848;
  color: #dc3848;
}

.nk-success {
  background: #29a847;
  border: 1px solid #29a847;
  color: #fff;
}
.nk-success-light {
  background-color: #effaf3;
  color: #29a847;
  border: 1px solid #29a847;
}
.nk-success.nk-outline:not(:hover) {
  background-color: transparent;
  border-color: #29a847;
  color: #29a847;
}

.nk-info {
  background: #249beb;
  border: 1px solid #249beb;
  color: #fff;
}
.nk-info-light {
  background-color: #eef6fc;
  color: #249beb;
  border: 1px solid #249beb;
}
.nk-info.nk-outline:not(:hover) {
  background-color: transparent;
  border-color: #249beb;
  color: #249beb;
}

.nk-warning {
  background: #ffdd57;
  border: 1px solid #ffdd57;
  color: #333;
}
.nk-warning-light {
  background-color: #fffbeb;
  color: #ffdd57;
  border: 1px solid #ffdd57;
}
.nk-warning.nk-outline:not(:hover) {
  background-color: transparent;
  border-color: #ffdd57;
  color: #ffdd57;
}

.nk-white {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.nk-red {
  background: #dc3848;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-green {
  background: #29a847;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-blue {
  background: #249beb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-turquoise {
  background: #00d1b2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-purple {
  background: #6f42c2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-darkblue {
  background: #002e47;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-indigo {
  background: #6812f3;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-pink {
  background: #e93f8e;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.nk-orange {
  background: #fd7e17;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-yellow {
  background: #ffdd57;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.nk-teal {
  background: #20cb98;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-cyan {
  background: #17a4ba;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-light {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.nk-dark {
  background: #212121;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-muted {
  background: #877d7d;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.nk-danger-light {
  background: #feecf0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.nk-info-light {
  background: #eef6fc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.nk-success-light {
  background: #effaf3;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.nk-warning-light {
  background: #fffbeb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.grey9 {
  background: #2b2b2b;
}

.grey8 {
  background: #454545;
}

.grey7 {
  background: #5e5e5e;
}

.grey6 {
  background: #787878;
}

.grey5 {
  background: #919191;
}

.grey4 {
  background: #ababab;
}

.grey3 {
  background: #c4c4c4;
}

.grey2 {
  background: #dedede;
}

.grey1 {
  background: #f7f7f7;
}

.orange9 {
  background: #ff4f1a;
}

.orange8 {
  background: #ff6333;
}

.orange7 {
  background: #ff764d;
}

.orange6 {
  background: #ff8a66;
}

.orange5 {
  background: #ff9d80;
}

.orange4 {
  background: #ffb199;
}

.orange3 {
  background: #ffc4b3;
}

.orange2 {
  background: #ffd8cc;
}

.orange1 {
  background: #ffebe6;
}

.yellow9 {
  background: #ffe375;
}

.yellow8 {
  background: #ffe785;
}

.yellow7 {
  background: #ffea94;
}

.yellow6 {
  background: #ffeda3;
}

.yellow5 {
  background: #fff0b3;
}

.yellow4 {
  background: #fff3c2;
}

.yellow3 {
  background: #fff6d1;
}

.yellow2 {
  background: #fff9e0;
}

.yellow1 {
  background: #fffcf0;
}

.nk-nbr {
  border-radius: 0;
}
.nk-nbr-t {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nk-nbr-b {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nk-nbr-l {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nk-nbr-r {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nk-block {
  display: block;
}

.nk-inline {
  display: inline;
}

.nk-inline-block {
  display: inline-block;
}

.nk-flex {
  display: flex;
}

.nk-inline-flex {
  display: inline-flex;
}

.nk-hidden {
  display: none;
}

@media (max-width: 767px) {
  .nk-hide-on-mobile {
    display: none !important;
  }

  .nk-block-on-mobile {
    display: block !important;
  }

  .nk-flex-on-mobile {
    display: flex !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .nk-hide-on-tablet {
    display: none !important;
  }

  .nk-block-on-tablet {
    display: block !important;
  }

  .nk-flex-on-tablet {
    display: flex !important;
  }
}
@media (min-width: 1200px) and (max-width: 1199px) {
  .nk-hide-on-desktop {
    display: none !important;
  }

  .nk-block-on-desktop {
    display: block !important;
  }

  .nk-flex-on-desktop {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .nk-hide-from-tablet {
    display: none !important;
  }

  .nk-block-from-tablet {
    display: block !important;
  }

  .nk-flex-from-tablet {
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .nk-hide-from-desktop {
    display: none !important;
  }

  .nk-block-from-desktop {
    display: block !important;
  }

  .nk-flex-from-desktop {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .nk-hide-up-to-tablet {
    display: none !important;
  }

  .nk-block-up-to-tablet {
    display: block !important;
  }

  .nk-flex-up-to-tablet {
    display: flex !important;
  }
}
@media (max-width: 1199px) {
  .nk-hide-up-to-desktop {
    display: none !important;
  }

  .nk-block-up-to-desktop {
    display: block !important;
  }

  .nk-flex-up-to-desktop {
    display: flex !important;
  }
}
.nk-ha-l {
  justify-content: flex-start;
}

.nk-ha-r {
  justify-content: flex-end;
}

.nk-ha-c {
  justify-content: center;
}

.nk-space-between {
  justify-content: space-between;
}

.nk-space-around {
  justify-content: space-around;
}

.nk-space-even {
  justify-content: space-evenly;
}

.nk-va-t {
  align-items: flex-start;
}

.nk-va-b {
  align-items: flex-end;
}

.nk-va-c {
  align-items: center;
}

.nk-va-start {
  align-items: flex-start;
}

.nk-va-stretch {
  align-items: stretch;
}

.nk-va-baseline {
  align-items: baseline;
}

.nk-align-self-auto {
  align-self: auto;
}

.nk-align-self-baseline {
  align-self: baseline;
}

.nk-align-self-center {
  align-self: center;
}

.nk-align-self-flex-end {
  align-self: flex-end;
}

.nk-align-self-flex-start {
  align-self: flex-start;
}

.nk-align-self-stretch {
  align-self: stretch;
}

.nk-flex-column {
  flex-direction: column;
}

.nk-flex-column-reverse {
  flex-direction: column-reverse;
}

.nk-flex-row {
  flex-direction: row;
}

.nk-flex-row-reverse {
  flex-direction: row-reverse;
}

.nk-wrap {
  flex-wrap: wrap;
}

.nk-nowrap {
  flex-wrap: nowrap;
}

.nk-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.nk-fsg1 {
  flex: 1 1 0%;
}

.nk-fs-auto {
  flex: 0 1 auto;
}

.nk-fsg-auto {
  flex: 1 1 auto;
}

.nk-flex-none {
  flex: none;
}

.nk-flex-col {
  display: flex;
  flex-direction: column;
}

.nk-flex-row {
  display: flex;
  flex-direction: row;
}

.nk-fg0 {
  flex-grow: 0;
}

.nk-fs0 {
  flex-shrink: 0;
}

.nk-fg1 {
  flex-grow: 1;
}

.nk-fs1 {
  flex-shrink: 1;
}

.nk-fg2 {
  flex-grow: 2;
}

.nk-fs2 {
  flex-shrink: 2;
}

@media (min-width: 992px) {
  .nk-md-ha-l {
    justify-content: flex-start;
  }

  .nk-md-ha-r {
    justify-content: flex-end;
  }

  .nk-md-ha-c {
    justify-content: center;
  }

  .nk-md-space-between {
    justify-content: space-between;
  }

  .nk-md-space-around {
    justify-content: space-around;
  }

  .nk-md-space-even {
    justify-content: space-evenly;
  }

  .nk-md-va-t {
    align-items: flex-start;
  }

  .nk-md-va-b {
    align-items: flex-end;
  }

  .nk-md-va-c {
    align-items: center;
  }

  .nk-md-va-start {
    align-items: flex-start;
  }

  .nk-md-va-stretch {
    align-items: stretch;
  }

  .nk-md-va-baseline {
    align-items: baseline;
  }

  .nk-md-align-self-auto {
    align-self: auto;
  }

  .nk-md-align-self-baseline {
    align-self: baseline;
  }

  .nk-md-align-self-center {
    align-self: center;
  }

  .nk-md-align-self-flex-end {
    align-self: flex-end;
  }

  .nk-md-align-self-flex-start {
    align-self: flex-start;
  }

  .nk-md-align-self-stretch {
    align-self: stretch;
  }

  .nk-md-flex-column {
    flex-direction: column;
  }

  .nk-md-flex-column-reverse {
    flex-direction: column-reverse;
  }

  .nk-md-flex-row {
    flex-direction: row;
  }

  .nk-md-flex-row-reverse {
    flex-direction: row-reverse;
  }

  .nk-md-wrap {
    flex-wrap: wrap;
  }

  .nk-md-nowrap {
    flex-wrap: nowrap;
  }

  .nk-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .nk-md-fsg1 {
    flex: 1 1 0%;
  }

  .nk-md-fs-auto {
    flex: 0 1 auto;
  }

  .nk-md-fsg-auto {
    flex: 1 1 auto;
  }

  .nk-md-flex-none {
    flex: none;
  }
}
.nk-grid {
  display: grid;
  gap: 1.25rem;
}

.nk-gg-0 {
  gap: 0rem;
}

.nk-gg-1 {
  gap: 1rem;
}

.nk-gg-2 {
  gap: 2rem;
}

.nk-gg-3 {
  gap: 3rem;
}

.nk-gg-4 {
  gap: 4rem;
}

.nk-gg-5 {
  gap: 5rem;
}

.nk-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.nk-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.nk-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.nk-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.nk-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.nk-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.nk-cols-30\:70 {
  grid-template-columns: 3fr 7fr;
}

.nk-cols-2-2-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .nk-cols-2-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-2-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nk-cols-3-1-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .nk-cols-3-1-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-3-1-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nk-cols-3-2-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .nk-cols-3-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-3-2-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nk-cols-3-3-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .nk-cols-3-3-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-3-3-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nk-cols-4-2-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .nk-cols-4-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-4-2-1 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.nk-cols-6-3-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .nk-cols-6-3-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-6-3-1 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 768px) {
  .nk-cols-60\:40-50\:50-100 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-60\:40-50\:50-100 {
    grid-template-columns: 3fr 2fr;
  }
}

@media (min-width: 768px) {
  .nk-cols-40\:60-50\:50-100 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .nk-cols-40\:60-50\:50-100 {
    grid-template-columns: 2fr 3fr;
  }
}

.nk-cols-4-4-2-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .nk-cols-4-4-2-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .nk-cols-4-4-2-1 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.nk-cols-4-3-2-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .nk-cols-4-3-2-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .nk-cols-4-3-2-1 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .nk-cols-4-3-2-1 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 576px) {
  .nk-cols-sm-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .nk-cols-sm-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .nk-cols-sm-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .nk-cols-sm-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .nk-cols-sm-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .nk-cols-sm-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .nk-cols-md-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .nk-cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .nk-cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .nk-cols-md-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .nk-cols-md-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .nk-cols-md-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .nk-cols-lg-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .nk-cols-lg-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .nk-cols-lg-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .nk-cols-lg-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .nk-cols-lg-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .nk-cols-lg-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .nk-cols-xl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .nk-cols-xl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .nk-cols-xl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .nk-cols-xl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .nk-cols-xl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .nk-cols-xl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1600px) {
  .nk-cols-xxl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .nk-cols-xxl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .nk-cols-xxl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .nk-cols-xxl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .nk-cols-xxl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .nk-cols-xxl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.nk-w-fc {
  width: fit-content;
}

.nk-w-1 {
  width: 1rem !important;
}

.nk-h-1 {
  height: 1rem !important;
}

.nk-wh-1 {
  width: 1rem !important;
  height: 1rem !important;
}

.nk-w-2 {
  width: 2rem !important;
}

.nk-h-2 {
  height: 2rem !important;
}

.nk-wh-2 {
  width: 2rem !important;
  height: 2rem !important;
}

.nk-w-3 {
  width: 3rem !important;
}

.nk-h-3 {
  height: 3rem !important;
}

.nk-wh-3 {
  width: 3rem !important;
  height: 3rem !important;
}

.nk-w-4 {
  width: 4rem !important;
}

.nk-h-4 {
  height: 4rem !important;
}

.nk-wh-4 {
  width: 4rem !important;
  height: 4rem !important;
}

.nk-w-95 {
  width: 95rem !important;
}

.nk-h-95 {
  height: 95rem !important;
}

.nk-wh-95 {
  width: 95rem !important;
  height: 95rem !important;
}

.nk-w-16 {
  width: 16px !important;
}

.nk-h-16 {
  height: 16px !important;
}

.nk-wh-16 {
  width: 16px !important;
  height: 16px !important;
}

.nk-w-24 {
  width: 24px !important;
}

.nk-h-24 {
  height: 24px !important;
}

.nk-wh-24 {
  width: 24px !important;
  height: 24px !important;
}

.nk-w-32 {
  width: 32px !important;
}

.nk-h-32 {
  height: 32px !important;
}

.nk-wh-32 {
  width: 32px !important;
  height: 32px !important;
}

.nk-w-40 {
  width: 40px !important;
}

.nk-h-40 {
  height: 40px !important;
}

.nk-wh-40 {
  width: 40px !important;
  height: 40px !important;
}

.nk-w-64 {
  width: 64px !important;
}

.nk-h-64 {
  height: 64px !important;
}

.nk-wh-64 {
  width: 64px !important;
  height: 64px !important;
}

.nk-w-100 {
  width: 100px !important;
}

.nk-h-100 {
  height: 100px !important;
}

.nk-wh-100 {
  width: 100px !important;
  height: 100px !important;
}

.nk-w-150 {
  width: 150px !important;
}

.nk-h-150 {
  height: 150px !important;
}

.nk-wh-150 {
  width: 150px !important;
  height: 150px !important;
}

.nk-w-200 {
  width: 200px !important;
}

.nk-h-200 {
  height: 200px !important;
}

.nk-wh-200 {
  width: 200px !important;
  height: 200px !important;
}

.nk-w-300 {
  width: 300px !important;
}

.nk-h-300 {
  height: 300px !important;
}

.nk-wh-300 {
  width: 300px !important;
  height: 300px !important;
}

.nk-w-400 {
  width: 400px !important;
}

.nk-h-400 {
  height: 400px !important;
}

.nk-wh-400 {
  width: 400px !important;
  height: 400px !important;
}

.nk-w-600 {
  width: 600px !important;
}

.nk-h-600 {
  height: 600px !important;
}

.nk-wh-600 {
  width: 600px !important;
  height: 600px !important;
}

.nk-w-1\/4 {
  width: 25%;
}

.nk-w-1\/3 {
  width: 33.33%;
}

.nk-w-1\/2 {
  width: 50%;
}

.nk-w-3\/4 {
  width: 75%;
}

.nk-children-py-5-3-2 > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .nk-children-py-5-3-2 > * {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .nk-children-py-5-3-2 > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.nk-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.nk-mx {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.nk-mx-025 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.nk-mx-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nk-mx-075 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.nk-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nk-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nk-mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.nk-mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.nk-mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.nk-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.nk-my {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.nk-my-025 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.nk-my-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nk-my-075 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.nk-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nk-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nk-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nk-my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.nk-my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.nk-mxy-0 {
  margin: 0;
}

.nk-mxy {
  margin: 1.25em;
}

.nk-mxy-025 {
  margin: 0.25rem;
}

.nk-mxy-05 {
  margin: 0.5rem;
}

.nk-mxy-075 {
  margin: 0.75rem;
}

.nk-mxy-1 {
  margin: 1rem;
}

.nk-mxy-2 {
  margin: 2rem;
}

.nk-mxy-3 {
  margin: 3rem;
}

.nk-mxy-4 {
  margin: 4rem;
}

.nk-mxy-5 {
  margin: 5rem;
}

.nk-mt-0 {
  margin-top: 0;
}

.nk-mt {
  margin-top: 1.25em;
}

.nk-mt-025 {
  margin-top: 0.25rem;
}

.nk-mt-05 {
  margin-top: 0.5rem;
}

.nk-mt-075 {
  margin-top: 0.75rem;
}

.nk-mt-1 {
  margin-top: 1rem;
}

.nk-mt-2 {
  margin-top: 2rem;
}

.nk-mt-3 {
  margin-top: 3rem;
}

.nk-mt-4 {
  margin-top: 4rem;
}

.nk-mt-5 {
  margin-top: 5rem;
}

.nk-mb-0 {
  margin-bottom: 0;
}

.nk-mb {
  margin-bottom: 1.25em;
}

.nk-mb-025 {
  margin-bottom: 0.25rem;
}

.nk-mb-05 {
  margin-bottom: 0.5rem;
}

.nk-mb-075 {
  margin-bottom: 0.75rem;
}

.nk-mb-1 {
  margin-bottom: 1rem;
}

.nk-mb-2 {
  margin-bottom: 2rem;
}

.nk-mb-3 {
  margin-bottom: 3rem;
}

.nk-mb-4 {
  margin-bottom: 4rem;
}

.nk-mb-5 {
  margin-bottom: 5rem;
}

.nk-ml-0 {
  margin-left: 0;
}

.nk-ml {
  margin-left: 1.25em;
}

.nk-ml-025 {
  margin-left: 0.25rem;
}

.nk-ml-05 {
  margin-left: 0.5rem;
}

.nk-ml-075 {
  margin-left: 0.75rem;
}

.nk-ml-1 {
  margin-left: 1rem;
}

.nk-ml-2 {
  margin-left: 2rem;
}

.nk-ml-3 {
  margin-left: 3rem;
}

.nk-ml-4 {
  margin-left: 4rem;
}

.nk-ml-5 {
  margin-left: 5rem;
}

.nk-mr-0 {
  margin-right: 0;
}

.nk-mr {
  margin-right: 1.25em;
}

.nk-mr-025 {
  margin-right: 0.25rem;
}

.nk-mr-05 {
  margin-right: 0.5rem;
}

.nk-mr-075 {
  margin-right: 0.75rem;
}

.nk-mr-1 {
  margin-right: 1rem;
}

.nk-mr-2 {
  margin-right: 2rem;
}

.nk-mr-3 {
  margin-right: 3rem;
}

.nk-mr-4 {
  margin-right: 4rem;
}

.nk-mr-5 {
  margin-right: 5rem;
}

.nk-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.nk-px {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.nk-px-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.nk-px-05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nk-px-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.nk-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nk-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.nk-px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.nk-px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.nk-px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.nk-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.nk-py {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.nk-py-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nk-py-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nk-py-075 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.nk-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nk-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nk-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nk-py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.nk-py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.nk-pxy-0 {
  padding: 0;
}

.nk-pxy {
  padding: 1.25em;
}

.nk-pxy-025 {
  padding: 0.25rem;
}

.nk-pxy-05 {
  padding: 0.5rem;
}

.nk-pxy-075 {
  padding: 0.75rem;
}

.nk-pxy-1 {
  padding: 1rem;
}

.nk-pxy-2 {
  padding: 2rem;
}

.nk-pxy-3 {
  padding: 3rem;
}

.nk-pxy-4 {
  padding: 4rem;
}

.nk-pxy-5 {
  padding: 5rem;
}

.nk-pt-0 {
  padding-top: 0;
}

.nk-pt {
  padding-top: 1.25em;
}

.nk-pt-025 {
  padding-top: 0.25rem;
}

.nk-pt-05 {
  padding-top: 0.5rem;
}

.nk-pt-075 {
  padding-top: 0.75rem;
}

.nk-pt-1 {
  padding-top: 1rem;
}

.nk-pt-2 {
  padding-top: 2rem;
}

.nk-pt-3 {
  padding-top: 3rem;
}

.nk-pt-4 {
  padding-top: 4rem;
}

.nk-pt-5 {
  padding-top: 5rem;
}

.nk-pb-0 {
  padding-bottom: 0;
}

.nk-pb {
  padding-bottom: 1.25em;
}

.nk-pb-025 {
  padding-bottom: 0.25rem;
}

.nk-pb-05 {
  padding-bottom: 0.5rem;
}

.nk-pb-075 {
  padding-bottom: 0.75rem;
}

.nk-pb-1 {
  padding-bottom: 1rem;
}

.nk-pb-2 {
  padding-bottom: 2rem;
}

.nk-pb-3 {
  padding-bottom: 3rem;
}

.nk-pb-4 {
  padding-bottom: 4rem;
}

.nk-pb-5 {
  padding-bottom: 5rem;
}

.nk-pl-0 {
  padding-left: 0;
}

.nk-pl {
  padding-left: 1.25em;
}

.nk-pl-025 {
  padding-left: 0.25rem;
}

.nk-pl-05 {
  padding-left: 0.5rem;
}

.nk-pl-075 {
  padding-left: 0.75rem;
}

.nk-pl-1 {
  padding-left: 1rem;
}

.nk-pl-2 {
  padding-left: 2rem;
}

.nk-pl-3 {
  padding-left: 3rem;
}

.nk-pl-4 {
  padding-left: 4rem;
}

.nk-pl-5 {
  padding-left: 5rem;
}

.nk-pr-0 {
  padding-right: 0;
}

.nk-pr {
  padding-right: 1.25em;
}

.nk-pr-025 {
  padding-right: 0.25rem;
}

.nk-pr-05 {
  padding-right: 0.5rem;
}

.nk-pr-075 {
  padding-right: 0.75rem;
}

.nk-pr-1 {
  padding-right: 1rem;
}

.nk-pr-2 {
  padding-right: 2rem;
}

.nk-pr-3 {
  padding-right: 3rem;
}

.nk-pr-4 {
  padding-right: 4rem;
}

.nk-pr-5 {
  padding-right: 5rem;
}

.nk-py-10-6-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .nk-py-10-6-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 1200px) {
  .nk-py-10-6-2 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.nk-px-2-2-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .nk-px-2-2-1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .nk-px-2-2-1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.not-first-child > :not([hidden]) ~ :not([hidden]) {
  background: red !important;
}

.nk-lead {
  font-size: 1.2rem;
}

h1.nk-title {
  font-size: 2.25rem;
}

.nk-title {
  color: #6233cd;
  font-size: 3.75;
  font-weight: 700;
  line-height: 1.125;
}

.nk-subtitle {
  color: #6233cd;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.125;
}

.nk-nav-header {
  font-size: 1.25rem;
  color: #333;
}

.nk-txt-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.nk-txt-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.nk-txt-xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.nk-txt-green {
  color: #29a847;
}
.nk-txt-red {
  color: #dc3848;
}
.nk-txt-orange {
  color: #fd7e17;
}
.nk-txt-blue {
  color: #249beb;
}
.nk-txt-white {
  color: #fff;
}
.nk-txt-muted {
  color: var(--muted);
}
.nk-txt-primary {
  color: #6233cd;
}
.nk-txt-secondary {
  color: var(--secondary);
}

.nk-fw-4 {
  font-weight: 400;
}

.nk-fw-6 {
  font-weight: 600;
}

.nk-fw-7 {
  font-weight: 700;
}

.nk-fw-9 {
  font-weight: 900;
}

.nk-lh-1 {
  line-height: 1;
}

.nk-tal {
  text-align: left;
}

.nk-tar {
  text-align: right;
}

.nk-tac {
  text-align: center;
}

.nk-taj {
  text-align: justify;
}

.nk-txt-strike {
  text-transform: line-through;
}

.nk-txt-underline {
  text-transform: underline;
}

.nk-txt-upper {
  text-transform: uppercase;
}

.nk-txt-lower {
  text-transform: lowercase;
}

.nk-txt-capitalize {
  text-transform: capitalize;
}

.nk-fullwidth {
  width: 100%;
  max-width: 100%;
}

.nk-round {
  border-radius: 50%;
}

.nk-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 41, 55, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.nk-cursor-pointer {
  cursor: pointer;
}

.nk-no-click {
  pointer-events: none;
}

.nk-close {
  color: crimson;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
}
.nk-close:hover {
  color: #a34558;
  cursor: pointer;
}
.nk-close:active {
  color: crimson;
  cursor: pointer;
}

.nk-divider-y > * {
  border-top: 1px solid #ddd;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.nk-divider-y > *:first-child {
  border-top: none;
  padding-top: 0;
}
.nk-divider-y > *:last-child {
  padding-bottom: 0;
}

.nk-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nk-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 1200px) {
  .nk-container {
    width: 75em;
  }
}

.nk-zebra section:nth-child(2n+2):not(.nk-primary):not(.nk-secondary) {
  background: whitesmoke;
}

:disabled {
  cursor: not-allowed;
}

:disabled,
.nk-disabled {
  opacity: 0.5;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.posa {
  position: absolute !important;
}

.posr {
  position: relative !important;
}

[class*=pos-] {
  position: absolute !important;
}

.pos-t {
  top: 0;
  left: 0;
  right: 0;
}
.pos-b {
  bottom: 0;
  left: 0;
  right: 0;
}
.pos-l {
  left: 0;
}
.pos-r {
  right: 0;
}
.pos-tl {
  top: 0;
  left: 0;
}
.pos-tr {
  top: 0;
  right: 0;
}
.pos-bl {
  bottom: 0;
  left: 0;
}
.pos-br {
  bottom: 0;
  right: 0;
}

#product-grid > div {
  margin-left: -1px;
  margin-bottom: -1px;
}
#product-grid .nk-btn {
  font-size: 0.875rem;
  text-transform: capitalize;
}
#product-grid .nk-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-thumbnail {
  height: 190px;
}

.product-title {
  height: 40px;
}

.rating {
  color: #ffcb05;
}
.rating .fa-stack {
  font-size: 0.5rem;
}

html {
  font-size: 1rem;
}

svg {
  fill: currentcolor;
}

img,
video {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

button,
.nk-btn {
  font-size: 0.875rem;
  cursor: pointer;
}

#logo {
  margin: 0 0 10px 0;
}

#menu {
  background-color: #6233cd;
  min-height: 40px;
}
#menu .nav > li > a {
  color: #fff;
  padding: 10px 15px 10px 15px;
  min-height: 15px;
}

#menu .nav > li > a:hover,
#menu .nav > li.open > a {
  background-color: rgba(255, 255, 255, 0.1);
}

#menu .dropdown-menu {
  padding-bottom: 0;
}

#menu .dropdown-inner {
  display: table;
}

#menu .dropdown-inner ul {
  display: table-cell;
}

#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
}

#menu .dropdown-inner li a:hover {
  color: #ffffff;
}

#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #ddd;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}

#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #fff;
  padding: 2px 18px;
  float: right;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #229ac8;
}

@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
  }

  #menu div.dropdown-inner > ul.list-unstyled {
    display: block;
  }

  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  #menu .dropdown-inner {
    display: block;
  }

  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }

  #menu .dropdown-menu a:hover,
#menu .dropdown-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}
