@forward "../node_modules/nk_jtb/scss/base/vars_colors" with (
    $primary: #6233cd,
    $primary-light: #7248D2,
    $secondary: #f0d8b7
);

@use "../node_modules/nk_jtb/scss/base/vars_colors" as *;

@forward "../node_modules/nk_jtb/scss/base/vars_base" with (
    $base-font-size: 0.875rem
);

@use "../node_modules/nk_jtb/scss/base/vars_base" as *;

@forward "../node_modules/nk_jtb/scss/base/vars_components" with (
    $navbar-bg: $primary,
    $navbar-padding-y: 0.5em
);

@forward "../node_modules/nk_jtb/scss/base/vars_class_names" with (
    $button-class: 'nk-btn',
    $container-class: 'nk-container',
    $icon-class: 'nk-icon',
    $navbar-class: 'nk-navbar',
);
