@use "./nk_vars" as *;
@use "./sorting";

// components
@use "../node_modules/nk_jtb/scss/components/box";
@use "../node_modules/nk_jtb/scss/components/button";
@use "../node_modules/nk_jtb/scss/components/icon";

// utilities
@use "../node_modules/nk_jtb/scss/abstracts/themes";
// @use "../node_modules/nk_jtb/scss/base";
// @use "../node_modules/nk_jtb/scss/components";
// @use "../node_modules/nk_jtb/scss/forms";
// @use "../node_modules/nk_jtb/scss/layout";
// @use "../node_modules/nk_jtb/scss/utilities/display";
// @use "../node_modules/nk_jtb/scss/utilities/flex";
@use "../node_modules/nk_jtb/scss/utilities/grid";
@use "../node_modules/nk_jtb/scss/utilities/spacing";
@use "../node_modules/nk_jtb/scss/utilities/text";
// @use '../node_modules/nk_jtb/scss/utilities';
@use "../node_modules/nk_jtb/scss/utilities/border";
// @use '../node_modules/nk_jtb/scss/utilities/general';
// @use '../node_modules/nk_jtb/scss/utilities/position';
// @use '../node_modules/nk_jtb/scss/utilities/visibility';
@use "../node_modules/nk_jtb/scss/utilities/sizes";
// @use "../node_modules/nk_jtb/scss/components/button";

// @use "../node_modules/nk_jtb/scss/nk" as * with($copyright-bg: transparent);

@use "./product_layout";

.fullwidth {
	width: 100%;
	max-width: 100%;
}

// body{
// 	background: #f0e8ff;
// }

// footer a {
// 	color: #ccc;
// }

// footer a:hover {
// 	color: #fff;
// }

// --------------------------------------------------------------------------
// -- BOOTSTRAP OVERRIDES --
// --------------------------------------------------------------------------

html {
	font-size: 1rem;
}
svg {
	fill: currentcolor;
}
img,
video {
	max-width: 100%;
	max-height: 100%; // allow set heights
	display: block; // prevent gap at bottom
}

// --------------------------------------------------------------------------
// -- MENU --
// --------------------------------------------------------------------------

#menu {
	background-color: $primary;
	min-height: 40px;

	.nav > li > a {
		color: #fff;
		padding: 10px 15px 10px 15px;
		min-height: 15px;
		// background-color: transparent;
	}
}

#menu .nav > li > a:hover,
#menu .nav > li.open > a {
	background-color: rgba(255, 255, 255, 0.1);
}

#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #ffffff;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #ddd;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover,
#menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #fff;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
