@use './sorting';

// Load colors first to give access to all files

@use "../node_modules/nk_jtb/scss/base/vars_colors" as * with (
	$primary: #312549,
	$secondary: #fff4e5
);

@use "../node_modules/nk_jtb/scss/base/vars_base" as * with (
	$base-font-size: 0.875rem
);

@use "../node_modules/nk_jtb/scss/base/vars_components" as * with (
	$navbar-bg: $primary,
	// $navbar-padding-x: 1em,
	$navbar-padding-y: 0.5em,
);

// @use "../node_modules/nk_jtb/scss/base";
// // @use "../node_modules/nk_jtb/scss/abstracts";
// @use "../node_modules/nk_jtb/scss/components";
// // @use "../node_modules/nk_jtb/scss/forms";
// // @use "../node_modules/nk_jtb/scss/layout";

// // @use '../node_modules/nk_jtb/scss/utilities';
// @use "../node_modules/nk_jtb/scss/abstracts/themes";
// // @use '../node_modules/nk_jtb/scss/utilities/border';
// @use "../node_modules/nk_jtb/scss/utilities/display";
// @use "../node_modules/nk_jtb/scss/utilities/flex";
// @use "../node_modules/nk_jtb/scss/utilities/grid";
// // @use '../node_modules/nk_jtb/scss/utilities/general';
// // @use '../node_modules/nk_jtb/scss/utilities/position';
// @use '../node_modules/nk_jtb/scss/utilities/sizes';
// @use "../node_modules/nk_jtb/scss/utilities/spacing";
// @use "../node_modules/nk_jtb/scss/utilities/text";
// // @use '../node_modules/nk_jtb/scss/utilities/visibility';

// @use "../node_modules/nk_jtb/scss/nk" as * with($copyright-bg: transparent);


// body{
// 	background: #f0e8ff;
// }

// footer a {
// 	color: #ccc;
// }

// footer a:hover {
// 	color: #fff;
// }
